// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: 'Arial', sans-serif;
}

a {
  text-decoration: underline;
  color: #ff0d0d;
  &:hover {
    cursor: pointer;
  }
  &:clicked {
    font-weight: 900;
  }
  &.out-of-stock {
    color: grey;
    font-style: italic;
    text-decoration: none;
    cursor: default;
    &::after { content: " - out of stock"; } 
  }
}

h1 {
  color: #8aa83e;
}

h2 {
  font-size: 18px;
}

#current-book {
  border: 1px solid black;
  padding-left: 8px;
  padding-right: 8px;
  margin-top: 12px;
  margin-bottom: 12px;
  h2 {
    font-size: 18px;
  }
}
